
.post-container{
    border: 1px solid #000;    
}

.post{
    width: 190px;
    height: 290px;
    
    margin-right: 100px;
    float: left;
    text-align: center;
}
.post img{
    border: 1px solid #000;
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
}

.post span{
    width: 190px;
    height: 100px;
    /*border: 1px solid #000;*/
    font-size: 12px;
}